.header_content {
    width: 1400px;
    text-align: center;
}

.menuline {
    margin: 32px 0 32px 0;
}

.menutext {
    display: inline;
    padding: 0 36px 0 36px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.menulnk {
    text-decoration: none;
}

.image_frame {
    width: 599px;
    height: 368px;
    padding: 92px 400px 92px 401px;
    background-color: #00BDC9;
}

.main_content {
    width: 1400px;
    padding: 88px 0;
}

.content {
    width: 856px;
    height: 535px;
    padding: 40px 0;
    margin: 0 auto;
}

.head_text {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.bigger_text {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.highlighted_text {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.normal_text {
    padding-top: 24px;
}

.norm_text_list {
    margin-left: 23px;
    list-style-type: decimal;
    text-align: left;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.buttonlnk {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #04959E;
    width: 97px;
    height: 24px;
    padding: 10px 24px;
    margin: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%
}

.footer_content {
    width: 1400px;
    height: 60px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* border-width: 0; */

}

/* .footer_div {
    display: flex;
    width: 856px;
    padding: 16px 0px;
    justify-content: center;
} */

/* .footer_line {
    size: 1px;
    color: blue;
    margin: 0;
    border: 1px 0;
} */